@import "tailwindcss";

html {
  line-height: 1.25;
  font-size: calc(100vw / 1440 * 16);
}

:root {
  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: transparent;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color1: #0B132B;
  --color2: #1C2541;
  --color3: #3A506B;
  --color4: #5BC0BE;
  --hover4: #248F8D;
  --color5: #6FFFE9;
}

@layer utilities {
  .bg-color1 {
    background-color: var(--color1);
  }
  .bg-color2 {
    background-color: var(--color2);
  }
  .bg-color3 {
    background-color: var(--color3);
  }
  .bg-color4 {
    background-color: var(--color4);
  }
  .hover\:bg-hover4:hover {
      background-color: var(--hover4);
    }
  .bg-color5 {
    background-color: var(--color5);
  }
  .text-color1 {
    color: var(--color1);
  }
  .text-color2 {
    color: var(--color2);
  }
  .text-color3 {
    color: var(--color3);
  }
  .text-color4 {
    color: var(--color4);
  }
  .hover\:text-hover4:hover {
      color: var(--hover4);
    }
  .text-color5 {
    color: var(--color5);
  }
  .border-color4 {
    border-color: var(--color4);
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */
/* button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
